<section class="vh-100 gradient-custom" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://images.hdqwalls.com/download/dogecoin-sw-1080x1920.jpg"
                alt="login form"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <% if flash[:notice] %>
                  <div class="alert alert-danger"><%= flash[:notice] %></div>
                <% end %>

                <% if flash[:danger] %>
                  <div class="alert alert-danger"><%= flash[:danger] %></div>
                <% end %>


                <%= form_tag '/login' do %>
                  <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h3>
                  <div class="form-outline mb-4">
                    <%= text_field_tag :username, "", class: "form-control form-control-lg", id: "username" %>
                    <label class="form-label" for="username">Username</label>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <%= password_field_tag :password, "", class: "form-control form-control-lg", id:"password" %>
                    <label class="form-label" for="password">Password</label>
                  </div>
                  
                  <div class="pt-1 mb-4">
                    <%= submit_tag "Login", class: "btn btn-dark btn-lg btn-block", style: "width:100%;"%>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <%= link_to "Register here", '/register'%></p>
                <% end%>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>