<div id="<%= locals[:operation] %>-draggable-resizable-<%= SecureRandom.uuid %>" class="card text-center shadow operation-card">
  <% if locals[:operation] == 'and' %>
    <div class="card-header primary text-white"> <%= locals[:operation].upcase %> </div>
  <% elsif locals[:operation] == 'or' %>
    <div class="card-header intermediary text-white"> <%= locals[:operation].upcase %> </div>
  <% else %>
    <div class="card-header secondary text-white"> <%= locals[:operation].upcase %> </div>
  <% end %>
  <div class="card-body">
  </div>
</div>