<div id="<%= locals[:operation] %>-draggable-resizable-<%= Time.now.to_i %>" class="card text-center shadow operation-card">
  <% if locals[:operation] == 'and' %>
    <div id="<%= locals[:operation] %>-card-title-<%= Time.now.to_i %>" class="card-header primary text-white op-card-header"> 
      <div style="flex:1"></div>
      <div class="op-card-title">
        <%= locals[:operation].upcase %>
      </div> 
      <div class="remove">
        <button id="remove-link-<%= Time.now.to_i %>" class="remove-link" onclick="remove(event)">
         <i class="far fa-window-close" style="color:white"></i>
        </button>
      </div>
    </div>
  <% elsif locals[:operation] == 'or' %>
    <div id="<%= locals[:operation] %>-card-title-<%= Time.now.to_i %>" class="card-header intermediary text-white op-card-header"> 
      <div style="flex:1"></div>
      <div class="op-card-title">
        <%= locals[:operation].upcase %>
      </div> 
      <div class="remove">
        <button id="remove-link-<%= Time.now.to_i %>" class="remove-link" onclick="remove(event)">
         <i class="far fa-window-close" style="color:white"></i>
        </button>
      </div> 
    </div>
  <% else %>
    <div id="<%= locals[:operation] %>-card-title-<%= Time.now.to_i %>" class="card-header secondary text-white op-card-header"> 
      <div style="flex:1"></div>
      <div class="op-card-title">
        <%= locals[:operation].upcase %>
      </div> 
      <div class="remove">
        <button id="remove-link-<%= Time.now.to_i %>" class="remove-link" onclick="remove(event)">
         <i class="far fa-window-close" style="color:white"></i>
        </button>
      </div>
    </div>
  <% end %>
  <div class="card-body">
  </div>
</div>