<%= render 'shared/nav' %>
<div class="order-container container" >
  <%= render 'shared/lock_modal' %>
  <div class='order-row'>
    <div class='card shadow card-padding' style="width:1000px">
      <div class='card-title order-title'>
        <div class='display-4'>Make an Order</div>
      </div>
      <div class='card-body card-padding order-column'>
        <% if flash[:danger] %>
          <div class="alert alert-danger order-alert"><%= flash[:danger] %></div>
        <% end %>
        <div class='input'>
          1. Please select the type of order you would like to make:
          <div class="radio pt-4">
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="sideRadio"
                  id="buy"
                  checked
                  onchange="update_price(event, <%= createData %>)"
                />
                <label class="form-check-label" for="buy"> Buy </label>
              </div>
            </div>
            <div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="sideRadio"
                  id="sell"
                  onchange="update_price(event, <%= createData %>)"
                />
                <label class="form-check-label" for="sell"> Sell </label>
              </div>
            </div>
          </div>
        </div>
        <div class='input'>
          2. Please select the coin you'd like to make an order for:
          <div class='pt-4'>
            <select id='coin' class="mdb-select md-form" onchange="update_price(event, <%= createData %>)">
              <% Coin.all.order(:name).each_with_index do |coin, index| %>
                <option value="<%= coin.id %>"><%= coin.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class='input'>
          3. Please enter the quantity of the coin for transaction:
          <div class='input-row'>
            <div class='pt-4'>
              <input 
                type="number" 
                id="quantity" 
                name="quantity" 
                class="form-control" 
                min="0.000001" 
                step="0.000001"
                oninput="update_price(event, <%= createData %>)"
              >
            </div>
          </div>
        </div>
        <div class="input-row pb-4" style="font-size:20px">
          <div>Order value (USD): </div>
          <div>$<span id="el">0</span></div>
        </div>
        <div class="pt-3 mb-4">
          <input id="order" type="submit" value="Order" class="btn btn-dark btn-large btn-block" style="width:100%">
        </div>
      </div>
      <div class='card-footer'>
        <h6><strong>Notice:</strong> Please be cautious with buying and selling cryptocurrencies. 
        Our systems provide security in relation to your linked BinanceUS account; however, any valid purchases and sales made are final,
        and cannot be renegotiated with us. Please visit <a href='https://www.binance.com/en/support'>Binance Customer Support</a>
        for any issues.</h6>
      </div>
    </div>
    <div class="card bg-dark mb-3 text-center rounded order-col" >
      <div class="card-title font-weight-bold " style="color:white">Order History
        <div class=" font-weight-bold" style="color:white">
            <table class="table table-gray">
            <thead>
              <tr>
                <th scope="col" class="bg-dark" style="color:white">Side</th>
                <th scope="col" class="bg-dark" style="color:white">Coin</th>
                <th scope="col" class="bg-dark" style="color:white">Amount</th>
                <th scope="col" class="bg-dark" style="color:white">Executed</th>
              </tr>
            </thead>
            </table>
      </div>
      <div>

          <table class="table table-gray order-table-body scrollable-body">
            
            <div class="card-text ">
              <tbody class="table-body scrollbar-orders ">


                  <% @orders.order(created_at: :desc).each do |order| %>
                    <tr>
                      <td style="color:white"><%=order.side%></td>
                      <td style="color:white"><%=order.symbol%></td>
                      <td style="color:white"><%=order.amount%></td>
                      <td style="color:white"><%=order.created_at%></td>
                    </tr>
                  <%end%>
              </tbody>
            </div>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
  function update_price(event, data) {
    event.preventDefault();
    const coin = $('#coin option:selected').text();
    const amount = $('#quantity').val();
    const side = $("input[name='sideRadio']:checked").attr('id');
    // data[x][0] is the bid, data[x][1] is the ask
    const coins = ["Bitcoin", "Ethereum", "Litecoin", "Ripple XRP"]
    const conversion = data[coins.indexOf(coin)][side === 'buy' ? 1 : 0]
    const USD = amount * conversion;
    const start = parseFloat($('#el').text());
    jQuery({someValue: start}).animate({someValue: USD}, {
      duration: 1000,
      easing:'linear',
      step: function(now) {
        $('#el').text(now.toFixed(2));
      }
    });
  }

  $('#order').on('click', () => {
    const coin = $('#coin').val();
    const amount = $('#quantity').val();
    const side = $("input[name='sideRadio']:checked").attr('id') === 'buy' ? 'true' : 'false';
    $.ajax({
        type: "POST",
        url: `/order`,
        data: { coin_id: coin, quantity: amount, buy: side },
        success: (resp) => console.log(resp),
        error: (err) => console.error(err)
    })
  })

</script>

