<%= render 'shared/nav' %>
<div class="order-container container" >
  <div class='order-row'>
    <div class='card shadow card-padding' style="width:1000px">
      <div class='card-title order-title'>
        <div class='display-4'>Make an Order</div>
      </div>
      <div class='card-body card-padding order-column'>
        <% if flash[:danger] %>
          <div class="alert alert-danger order-alert"><%= flash[:danger] %></div>
        <% end %>
        <%= form_with url: '/order', method: :post do |form| %>
          <div class='input'>
            1. Please select the type of order you would like to make:
            <div class="radio pt-4">
              <div>
                <%= form.label :autolyse, "Buy", :value => "true"  %>
                <%= form.radio_button :buy, true, :checked => true %>
              </div>
              <div>
                <%= form.label :autolyse, "Sell", :value => "false" %>
                <%= form.radio_button :buy, false %>
              </div>
            </div>
          </div>
          <div class='input'>
            2. Please select the coin you'd like to make an order for:
            <div class='pt-4'>
              <%= form.collection_select :coin_id, @coins.order(:name),:id,:name, required: true %>
            </div>
          </div>
          <div class='input'>
            3. Please enter the quantity of the coin for transaction:
            <div class='input-row'>
              <div class='pt-4'>
                <%= form.number_field :quantity, min: 0, step: 0.000001, required: true %>
              </div>
            </div>
          </div>

          <div class="pt-3 mb-4">
            <%= submit_tag "Order", class: "btn btn-dark btn-lg btn-block", style: "width:100%;"%>
          </div>
          
        <% end %>
      </div>
      <div class='card-footer'>
        <h6><strong>Notice:</strong> Please be cautious with buying and selling cryptocurrencies. 
        Our systems provide security in relation to your linked BinanceUS account; however, any valid purchases and sales made are final,
        and cannot be renegotiated with us. Please visit <a href='https://www.binance.com/en/support'>Binance Customer Support</a>
        for any issues.</h6>
      </div>
    </div>
    <div class="card bg-dark mb-3 text-center rounded order-column" >
      <div class="card-title font-weight-bold " style="color:white">Order History
        <div class=" font-weight-bold" style="color:white">
            <table class="table table-gray">
            <thead>
              <tr>
                <th scope="col" class="bg-dark" style="color:white">Side</th>
                <th scope="col" class="bg-dark" style="color:white">Coin</th>
                <th scope="col" class="bg-dark" style="color:white">Amount</th>
                <th scope="col" class="bg-dark" style="color:white">Executed</th>
              </tr>
            </thead>
            </table>
      </div>
      </div>

          <table class="table table-gray  order-table-body scrollable-body">
            
            <div class="card-text ">
              <tbody class="table-body scrollbar-orders ">


                  <% @orders.each_with_index do |order| %>
                    <tr>
                      <td style="color:white"><%=order.side%></td>
                      <td style="color:white"><%=order.symbol%></td>
                      <td style="color:white"><%=order.amount%></td>
                      <td style="color:white"><%=order.created_at%></td>
                    </tr>
                  <%end%>
              </tbody>
            </div>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


