<nav class="navbar navbar-dark bg-dark" style="width:100%;position:fixed;z-index:1">
  <div class="nav-items">
    <div class="nav-links">
      <%= link_to "Coin Expanse", root_url, class: "navbar-brand nav-title"%>
      <div class="nav-sub-links">
        <%= link_to coin_index_path, class: "nav-link" do%>
            <strong>Supported Cryptos</strong>
          <% end %>
        <%= link_to '/about', class: "nav-link" do%>
            <strong>About</strong>
          <% end %>
      </div>
    </div>
    <div class="nav-right">
      <%= form_tag request.path, method: "GET", class: "form-box", id: 'search_form' do %>
        <%= text_field_tag :search_param, params[:search_param], placeholder: "Search this page...", class: "form-input" %>
        <%= link_to request.path, onclick: "$('#search_form').submit()"  do %>
          <i class="bi bi-search" style="color: white;"></i>
        <% end %>
      <% end %>
      <%= render 'partials/user_icon' %>
    </div>
  </div>
</nav>