<div id="stoch-draggable-resizable-<%= Time.now.to_i %>" class="card text-center shadow indicator-card">
   <div id="stoch-card-title-<%= Time.now.to_i %>" class="card-header stoch text-white op-card-header"> 
      <div style="flex:1"></div>
      <div class="op-card-title">
        <%= "stoch".upcase %>
      </div> 
      <div class="remove">
        <button id="remove-link-<%= Time.now.to_i %>" class="remove-link" onclick="remove(event)">
         <i class="far fa-window-close" style="color:white"></i>
        </button>
      </div>
    </div>
  <div class="indicator-body">
    <div class="form-outline">
      <%= text_field_tag :coin, "", class: "form-control form-control-lg", id: "strategy_name" %>
      <label class="form-label" for="strategy_name">Coin</label>
    </div>
    <div style="display:flex;flex-direction:row;justify-content:space-around">
      <div class="form-outline">
        <input type="number" id="typeNumber" class="form-control" />
        <label class="form-label" for="typeNumber" style="font-size:5">Lower (USD)</label>
      </div>
      <div class="form-outline">
        <input type="number" id="typeNumber" class="form-control" />
        <label class="form-label" for="typeNumber">Error (USD)</label>
      </div>
    </div>
    <div style="display:flex;flex-direction:row;justify-content:space-around">
      <div class="form-outline">
        <input type="number" id="typeNumber" class="form-control" />
        <label class="form-label" for="typeNumber" style="font-size:5">Upper (USD)</label>
      </div>
      <div class="form-outline">
        <input type="number" id="typeNumber" class="form-control" />
        <label class="form-label" for="typeNumber">Error (USD)</label>
      </div>
    </div>
  </div>
</div>