<%= render 'shared/nav' %>
<div class="page">
  <h1 class="chart_page_title"><%= @coin.name %></h1>
  <div class="card bg-dark mb-3 text-center rounded" style="max-width: 80rem;">
    <div class="card-header font-weight-bold" style="color:white">Prices</div>
    <div class="card-body">
      <div class="chart" id="<%=@coin.id%>" ></div>
    </div>
  </div>
  <%ind_data = get_ind_data(@coin)%>
  <p>
    <div class="accordion" id="indicator-accordion">
      <%@coin.indicators.pluck(:name).uniq.each do |ind|%>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading<%=ind%>">
            <button
              class="accordion-button"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#collapse<%=ind%>"
              aria-expanded="false"
              aria-controls="collapse<%=ind%>"
            >

              <table class="table table-gray indicators table-boardered">
                <thead>
                  <tr class="bg-primary">
                    <th scope="col" class="bg-dark" style="color:white"><%=ind.split("_")[1].upcase%></th>
                    <th scope="col" class="bg-dark" style="color:white">Hour</th>
                    <th scope="col" class="bg-dark" style="color:white">Day</th>
                    <th scope="col" class="bg-dark" style="color:white">Week</th>
                  </tr>
                </thead>
              </table>
            </button>
          </h2>

          <div
            id="collapse<%=ind%>"
            class="accordion-collapse collapse show"
            aria-labelledby="heading<%=ind%>"
            data-mdb-parent="#indicator-accordion"
          >
            <div class="accordion-body">
              <table class="table table-gray indicators table-boardered">
                <tbody>
                  <% ind_data["1h"][ind].keys.each do |key|%>
                  <tr>
                    <th scope="row" class="bg-light"><%=key%></th>
                    <% ["1h", "1d", "1w"].each do |interval|%>
                    <td><%=ind_data[interval][ind][key]%></td>
                    <%end%>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </p>

  

</div>

