<%= render 'shared/nav' %>
<div class="page">
  <h1 class="chart_page_title"><%= @coin.name %></h1>
  <div class="chart">
    <%= render_avg_price_chart(@coin) %>
  </div>
  <div class="chart">
    <%= render_ask_price_chart(@coin) %>
  </div>
  <div class="chart">
    <%= render_bid_price_chart(@coin) %>
  </div>
</div>