<%= render 'shared/nav' %>


<div class="page">
    <h1> About Us </h1>

    <div class="row justify-content-center" style="margin:70px">
        <div class="card shadow bg-light mb-3 col-6">
            <div class="card-body">
                <div class="card-title text-center fs-3 ">Coin Expanse</div>
                <div class="card-header text-center fw-italic fs-3 ">A new way to trade</div>
                <div class="card-text fs-4">
                    <p>The defining feature of Coin Expanse is our Workspace interface which allows users to manage their 
                    crypto trading in a flexible format.</p><p>Coin Expanse implements a flexible graphical 
                    user interface, meaning that users will not only be able to customize their own 
                    widgets for displaying trading data, but create their own widgets that consist of 
                    a set of existing widgets, helping the user customize their experience with crypto 
                    trading.</p><p>This is comparable to programs like Scratch, a basic programming interface, 
                    which have drag-and-drop components that allow users to construct something more complex. 
                    It's linked to your personal trading account via Binance US.</p>
                </div>
            </div>
        </div>
    </div>
    <h1> How To Use </h1>
    <div class="row" style="margin:50px">
        <div class="card shadow bg-light mb-3 col" style="margin:10px">
            <%=image_tag "api_management.png", class:"card-img-top", alt:"api-management", style:"height: 337px; object-fit: contain;"%>
            <div class="card-body">
                <div class="card-title text-center fs-2">Step 1</div>
                <div class="card-text text-center">
                    Navigate to the API management section of your Binance-US account. You must have a verified account on Binance-US to access this page.
                </div>
            </div>
        </div>
        <div class="card shadow bg-light mb-3 col" style="margin:10px">
            <%=image_tag "create_key.png", class:"card-img-top", alt:"create-key", style:"height: 337px; object-fit: contain;"%>
            <div class="card-body">
                <div class="card-title text-center fs-2">Step 2</div>
                <div class="card-text text-center">
                    Create a new API key for your Binance-US account. Follow the instructions on screen and make sure to save your secret key. These
                    are the API keys which you will use to create your Coin Expanse account.
                </div>
            </div>
        </div>
        <div class="card shadow bg-light mb-3 col" style="margin:10px">
            <%=image_tag "whitelist_ips.png", class:"card-img-top", alt:"whitelist-ips", style:"height: 337px; object-fit: contain;"%>
            <div class="card-body">
                <div class="card-title text-center fs-2">Step 3</div>
                <div class="card-text text-center">
                    Whitelist Coin Expanse's IP addresses in your API management section. This ensures that the only trades that can be made using
                    your API keys will be through your Coin Expanse account.
                </div>
            </div>
        </div>
    </div>
    <h1>Our Team</h1>
    <div class="row justify-content-center" style="margin:50px">
        <div class="card shadow bg-light mb-3 col-3" style="margin:50px">
            <%=image_tag "sam.jpg", class:"card-img-top", alt:"sam", style:"width: 300px; height: 337px; object-fit: cover; object-position: -20% 0;"%>
            <div class="card-body">
                <div class="card-title text-center fs-2">Sam Brenner</div>
            </div>
            
        </div>
        <div class="card shadow bg-light mb-3 col-3" style="margin:50px">
            <%=image_tag "adam.jpg", class:"card-img-top", alt:"adam", style:"width: 300px; height: 337px; object-fit: cover; object-position: -20% 0;"%>
            <div class="card-body">
                <div class="card-title text-center fs-2">Adam Ring</div>
            </div>  
        </div>
        <div class="card shadow bg-light mb-3 col-3" style="margin:50px">
            <%=image_tag "josh.jpg", class:"card-img-top", alt:"josh", style:"width: 300px; height: 337px; object-fit: cover; object-position: 60% 90%;"%>
            <div class="card-body">
                <div class="card-title text-center fs-2">Joshua Langman</div>
            </div>
        </div>
    </div>
</div>