<div class="accordion-item">
  <div class="accordion-header display-6" id="<%= locals[:strat].name %>-heading">
    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#<%= locals[:strat].name.gsub(" ", "") %>-collapse" 
      aria-expanded="true" aria-controls="<%= locals[:strat].name.gsub(" ", "") %>-collapse">
      <div class='display-title'>
        <%= locals[:strat].name %>
      </div>
    </button>
  </div>
  <div id="<%= locals[:strat].name.gsub(" ", "") %>-collapse" class="accordion-collapse collapse" 
    aria-labelledby="<%= locals[:strat].name.gsub(" ", "") %>-heading">
    <div class="accordion-body">
      <div class='display-text'>
        <strong>Created: </strong>
        <%= locals[:strat].created_at.localtime.strftime("%m/%d/%Y") %>
      </div>
      <div class='display-text'>
        <strong>Last Updated: </strong>
        <%= locals[:strat].updated_at.localtime.strftime("%m/%d/%Y") %>
      </div>
      <div class='display-text'>
        <strong>Brief Description: </strong>
        <%= generate_description locals[:strat] %>
      </div>
      <div class='display-text'>
        <strong>Algorithm Evaluated: </strong>
        <%= to_string_from_json(locals[:strat])[0] %>
      </div>
    </div>
  </div>
</div>